/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.jumbotron h1{
	font-style: italic;
	color: rgba(200,50,0,1);
	
}


















